/*Navbar CSS*/
#navbar {
    height: 80px;
    background-color: red;
}

.logo {
    margin-left: 200px;
    padding-top: 16px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
}

/*Signup CSS*/
.login-form {
    width: 340px;
    margin: 50px auto;
    margin-top: 100px;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control,
.btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}

/*Change Password CSS*/
.change-password-form {
    width: 30%;
    margin-left: 35%;
    margin-top: 50px;
}

/*Error CSS*/
.error-page {
    margin: 50px;
}


.content {
    display: flex;
    justify-content: center;
    background-color: darkblue;
    color: lightgreen;
    height: 10vh;
    align-items: center;
    font-size: 1.25vw;
}

.posts {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.post {
    background-color: darkblue;
    width: 20vw;
    height: 25vh;
    overflow-y: auto;
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    padding-left: 5vw;
    align-items: center;
    justify-content: center;
    font-size: 1.25vw;
    border-style: solid;
    border-color: black;
    border-radius: 0.5px;
}

.postPic {
    width: 10vw;
    height: auto;
}

.col-md-3 {
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    font-size:1.25vw;
}

/*Form CSS*/
.generic-form{
    width: 30%;
    margin-left: 35%;
    margin-top: 50px;
}

.Jacob{
    font-size: 1.25vw;
}
