<!DOCTYPE html>
<html>
    <head>
        <!--Title-->
        <title>Trade WashU</title>

        <!--Style sheet link-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!--Boostrap and JQuery-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!--Custom Stylesheet-->
        <link rel = "stylesheet" href = "/static/styles.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--Navbar-->
        <div id = "navbar">
            <h1 class = "logo">Trade WashU</h1>
        </div>

        <!--Main Container-->
        <div class="generic-form">
            <form action="/createPost" method="post">
                <h2 class="text-center">Create a Post</h2>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Title" required="required" name="title">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" required="required" name="username">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Message" required="required" name="message">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Image Link" name="image">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Post</button>
                </div>
            </form>
        </div>
        <div class="generic-form">
            <form action="/sitePage" method="post">
                <h2 class="text-center">Go Back</h2>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Back</button>
                </div>
            </form>
        </div>
    </body>
</html>
