<!DOCTYPE html>
<html>
    <head>
        <!--Title-->
        <title>YesChat</title>

        <!--Style sheet link-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!--Boostrap and JQuery-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!--Custom Stylesheet-->
        <link rel = "stylesheet" href = "/static/styles.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    </head>
    <body style="overflow-y: hidden;">
        <!--Navbar-->
        <div id = "navbar">
            <h1 class = "logo">YesChat  <small class="subText">Where anything goes</small></h1>
        </div>

        <!--Login Container-->
        <div class="login-form">
            <form action="/login" method="post">
                <h2 class="text-center">Log In</h2>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" required="required" name="username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required="required" name="password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Log In</button>
                </div>
            </form>
            <form action = "/signupPage" method = "post">
                    <button type="submit" class="btn btn-dark btn-block">Sign Up</button>
            </form>
            <form action = "/changePasswordPage" method = "post">
                    <button type="submit" class="btn btn-dark btn-block">Change Password</button>
            </form>
            <form action = "/forgotPasswordPage" method = "post">
                <button type="submit" class="btn btn-dark btn-block">Forgot Password</button>
        </form>
        </div>
    </body>
</html>
