<!DOCTYPE html>
<html>
    <head>
        <!--Title-->
        <title>YesChat</title>

        <!--Style sheet link-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!--Boostrap and JQuery-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!--Custom Stylesheet-->
        <link rel = "stylesheet" href = "/static/styles.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--Navbar-->
        <div id = "navbar">
            <h1 class = "logo">YesChat</h1>
        </div>

        <!--Original Post-->
        <div class='posts'>
            <div class="col-md-3 shadow" style="margin-top: 2vw; border: 0px;"></div>
            <div class="col-md-3 shadow" style="margin-top: 2vw;">
                <div class="item-box-blog">
                    <div class="item-box-blog-body">
                        <!--Heading-->
                        <div class="item-box-blog-heading">
                            <h3>{{post['title']}}</h3>
                        </div>
                        <!--Data-->
                        <div class="item-box-blog-data" style="padding: px 15px;">
                            <p><i class="fa fa-user-o"></i> {{post['username']}}</p>
                        </div>
                        <!--Text-->
                        <div class="item-box-blog-text">
                            <p>{{post['message']}}</p>
                        </div>
                        <!--Image-->
                        <div class="item-box-blog-image">
                            <figure> <img alt="" src="{{post['image']}}" class="postPic"> </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 shadow" style="margin-top: 2vw; border: 0px;"></div>
        </div>

        <!--Go Back-->
        <div class="generic-form">
            <form action="/sitePage" method="post">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Back</button>
                </div>
            </form>
        </div>

        <!--Comment-->
        <div class="generic-form">
            <form action="/comment" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="comment" required="required" name="comment">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" value="{{post['id']}}" name="id">Comment</button>
                </div>
            </form>
        </div>

        <!--Dispplay Comments-->
        {% for i in range(comments|length) %}
        <div class="card mb-4 comment">
            <div class="card-body">
              <p>{{comments[i]['comment']}}</p>
            </div>
          </div>
        {% endfor %}

    </body>
</html>
